<book>
  <time-um>
    <date>11/07</date>
    <day>Jueves</day>
    <time>20:15</time>
  </time-um>

  <datalist>
    <box>
      <name>Timbre 1</name>
      <time>15:30</time>
    </box>
    <box>
      <name>Timbre 2</name>
      <time>15:40</time>
    </box>
    <box>
      <name>Timbre 3</name>
      <time>15:40</time>
    </box>
    <box>
      <name>Timbre 4</name>
      <time>15:40</time>
    </box>
  </datalist>
</book>
